<template>
  <div>
    <p class="counter">Время {{ timeCounter }} сек.</p>
    <p class="counter">{{ clickCounter }} - Количество ходов</p>
    <p class="counter">{{ flagCounter }} - Количество флагов</p>

    <div class="main">
      <div class="line" :key="i" v-for="(line, i) in field">
        <div
          @click="handleClick(i, j)"
          @contextmenu.prevent="handleRightClick(i, j)"
          class="cell"
          :class="{ mine: field[i][j] === '💥' }"
          :key="j"
          v-for="(cell, j) in line"
        >
          {{ field[i][j] }}
        </div>
      </div>
    </div>
  </div>
</template>



<script>


const countOnFieldIf = (field, predicate) => {
  let count = 0
   for (let i = 0; i < field.length; i++) {
      for (let j = 0; j < field[i].length; j++) {
        if (predicate(field[i][j])) {
          count += 1;
        }
      }
  }
  return count;
}


export default {
  props: {
    //props - входные параметры
    playerName: {
      type: String,
      default: "Katya",
    },
    fieldSize: {
      type: Number,
      default: 10,
    },
  },
  data() {
    return {
      field: [],
      mines: [],
      dI: [-1, -1, -1, 0, 1, 1, 1, 0],
      dJ: [-1, 0, 1, 1, 1, 0, -1, -1],
      clickCounter: 0, //сюда аккумулируется кол-во ходов
      timeCounter: 0, //отсчет секунд
      minesCount: 0,
      timerId: null,
    };
  },
  computed: {
    flagCounter: function () {
      return countOnFieldIf(this.field, (elem) => elem === '🚩')
    },
    unOpenedCell: function () {
      return countOnFieldIf(this.field, (elem) => elem === '❔' || elem === '🚩')
    },
  },

  mounted() {
    //см. хук
    this.field = this.generateField(this.fieldSize);
    this.mines = this.generateFieldWithMines(this.fieldSize);
  },
  methods: {
    // gameEnd() {
    //   if (this.unOpenedCell === this.minesCount) {
    //     this.gameOver();
    //   }
    // },
    handleTime() {
      if (this.clickCounter === 1) {
        this.timerId = setInterval(() => {
          //не работает если не стрелочная, т.к. теряется контекст
          this.timeCounter = this.timeCounter + 1;
          // console.log(this.timeCounter);
        }, 1000);
      }
    },
    gameOver(msg) {
      this.field = this.mines;
      clearInterval(this.timerId);
      setTimeout(() => {
        let res = confirm(msg);
        if (res === true) {
          console.log("restart");
          this.restartGame();
        }
      });
    },
    handleClick(i, j) {
      //условие ниже для подсчета кликов только по закрытым ячейкам
      if (this.field[i][j] === "❔") {
        this.openCell(i, j);
        this.clickCounter += 1;
        this.handleTime();
        if (this.unOpenedCell === this.minesCount) {
          this.gameOver("You win! Try again?");
        }
        if (this.field[i][j] === "💥") {
          this.gameOver("You lose! Try again?");
        }
      }
    },
    handleRightClick(i, j) {
      console.log("test r_click");
      //маркировка флагами
      if (this.field[i][j] === "❔") {
        if (this.flagCounter === this.minesCount) {
          alert(
            "Too much flags set!\nIf you want to proceed - take off some flags"
          );
          return;
        }
        this.$set(this.field[i], j, "🚩");
      } else if (this.field[i][j] === "🚩") {
        this.$set(this.field[i], j, "❔");
      }
    },
    generateField(m) {
      let res = [];
      for (let i = 0; i < m; i++) {
        res.push(Array(m).fill("❔"));
      }
      return res;
    },
    generateFieldWithMines(fieldSize) {
      //генеринуем количество мин, где min - 0, max - ширина игрового поля
      function generateNumber(min, max) {
        return Math.floor(Math.random() * (max - min)) + min;
      }
      this.minesCount = fieldSize;
      let minesCount = fieldSize;
      const privateField = [];
      for (let i = 0; i < minesCount; i++)
        privateField.push(Array(minesCount).fill(0));
      while (minesCount > 0) {
        let i = generateNumber(0, fieldSize);
        let j = generateNumber(0, fieldSize);
        if (privateField[i][j] !== "💥") {
          privateField[i][j] = "💥";
          minesCount--;
          for (let index = 0; index < this.dI.length; index++) {
            let iExists =
              i + this.dI[index] >= 0 && i + this.dI[index] < fieldSize;
            let jExists =
              j + this.dJ[index] >= 0 && j + this.dJ[index] < fieldSize;

            if (
              iExists &&
              jExists &&
              privateField[i + this.dI[index]][j + this.dJ[index]] !== "💥"
            )
              privateField[i + this.dI[index]][j + this.dJ[index]]++;
          }
        }
      }
      return privateField;
    },
    openCell(i, j) {
      //внутри массива field[i], элементу по индексу j (а у нас по индексу j, тоже массив) записываем значение из массива mines[i][j]
      this.$set(this.field[i], j, this.mines[i][j]);
      // this.field[i][j] = this.mines[i][j] // --- эквивалентно, но не реактивно

      if (this.field[i][j] !== 0) return;
      for (let index = 0; index < this.dI.length; index++) {
        let iExists =
          i + this.dI[index] >= 0 && i + this.dI[index] < this.fieldSize;
        let jExists =
          j + this.dJ[index] >= 0 && j + this.dJ[index] < this.fieldSize;

        if (
          iExists &&
          jExists &&
          this.field[i + this.dI[index]][j + this.dJ[index]] === "❔"
        ) {
          this.openCell(i + this.dI[index], j + this.dJ[index]);
        }
      }
    },
    //пробегаем по полю, если закрытые ячейки === количество мин то победил
    // если private field = field (при условии установки) {
    //   if (this.field)
    // },
    restartGame() {
      this.field = this.generateField(this.fieldSize);
      this.mines = this.generateFieldWithMines(this.fieldSize);
      this.timeCounter = 0;
      this.clickCounter = 0;
    },
  },
};
</script>

<style>
html {
  font-family: monospace;
}

header {
  background-color: aqua;
  text-align: center;
  margin: auto;

  line-height: normal;
}

.main {
  /* создать flex контейнер */
  display: flex;
  /* определетить направление основной оси */
  flex-direction: column;
  /* определяет выравнивание вдоль главной оси */
  justify-content: center;
  /* выравнивание вдоль поперечной оси */
  align-items: center;
  /* выравнивает элемент*/
  margin: auto;
  /* 
            /* height: 420px; */
  width: fit-content;
  /* создает отступы вокруг содержимого */
  padding: 10px;

  background-color: blueviolet;
}

.line {
  display: flex;
  /* правление слева направо */
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: auto;
  width: auto;
}

.cell {
  background-color: azure;
  border: dashed yellowgreen;
  width: 75px;
  height: 75px;
  display: flex;
  justify-content: center;
  font-size: 2em;
  align-items: center;
  cursor: pointer;
  user-select: none;
}
.mine {
  background-color: rgb(255, 81, 81);
  color: white;
}
.flag {
  background-color: green;
  color: white;
}
.counter {
  font-family: monospace;
  font-size: 15px;
  text-align: center;
}
</style>

Если по первому клику поле попадает на мину, то тогда мина должна получить новую координату




