<template>
  <!-- HTML CODE HERE    -->
  <div>
    <swiper />
  </div>
</template>

<script>
import Swiper from "@/components/Swiper.vue";
// import Swiper from '../components/Swiper.vue';
// JS CODE HERE
export default {
  components: { Swiper },
  // data: function () {
  //   return {
  //     message: "test",
  //   };
  // },
};
</script>
<style scoped>
/* CSS CODE HERE */
</style>